@import "../assets/styles/variables.scss";

.home-container {
  background-color: $secondary-color;
  font-family: $font-family;
  padding: 20px;

  .hero-section {
    text-align: center;
    padding: 50px 0;
    background-color: $primary-color;
    color: white;

    h1 {
      font-size: 48px;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
    }

    .hero-button {
      margin-top: 20px;
    }
  }

  .features-section {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }
}
